.error-message-box {
    top: 20px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(255, 64, 64);
    border-radius: 15px;
    color: white;
}