.modal {
    background-color: #fff;
    border-radius: 5px;
    gap: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-buttons {
    display: flex;
    gap: 15px;
}

.modal-button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.modal-button.delete {
    background-color: #ff0000;
}