.table {
  text-align: center;
  border-collapse: collapse;
  width: 85%;
}

.table td,
.table th {
  border: 1px solid #ffffff;
  padding: 1px 0px;
}

.table tbody td {
  font-size: 16px;
}

.table tr:nth-child(even) {
  background: #d0e4f5;
}

.table thead {
  background: #0b6fa4;
}

.table thead th {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.table-action:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .table tr {
    display: flex;
    flex-wrap: wrap;
  }

  .table td,
  .table th {
    display: block;
    flex: 1;
  }
}
